.hidden{
    visibility: hidden;
}

.clock{
    background-color: rgb(3, 214, 144);
    border: 1px solid rgb(236, 236, 40);
    width: fit-content;
    color: rgb(187, 13, 13);
    margin: auto;
}

.giant{
    border: 3px double white;
    width: fit-content; 
    margin: auto;   
    height: 600px;
    width: 660px;
}

button{
    background-color: rgb(3, 214, 144);
    color:rgb(187, 13, 13);
    border-color: rgb(236, 236, 40);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}

div{
    color: white;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
}

button{
   width: 150px;
   margin: 5px;
}

.button-holder{
    width: fit-content; 
    margin: auto; 
}

.question-div, .explanation-div, .after-guess-message,
.game-over-div {
    width: fit-content; 
    margin: auto; 
    color:rgb(187, 13, 13); 
    background-color: white;
}

.number-correct-guess, .number-incorrect-guess{
    color:rgb(187, 13, 13); 
    background-color: white;
    width: 220px;
}

.image-div, .after-image{
    width: 550px;
}

img{
    max-width: 100%;
    max-height: 100%;
    border: 1px double rgb(236, 236, 40);
    width: fit-content; 
    margin: auto; 
}

.start-button, .replay-button{
    vertical-align: center;
    margin: auto;
}