.hidden{
    visibility: hidden;
}

.clock{
    background-color: rgb(111, 162, 181);
    border: 1px solid black;
    width: fit-content;
    color: rgb(53, 90, 104);
    margin: auto;
}

.giant{
    border: 3px double rgb(111, 162, 181);
    width: fit-content; 
    margin: auto;   
    height: 600px;
    width: 660px;
    margin-top: 130px;
}

button{
    background-color: rgb(111, 162, 181);
    color:rgb(53, 90, 104);
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}

div{
    color: white;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
}

button{
   width: 150px;
   margin: 5px;
}

.button-holder{
    width: fit-content; 
    margin: auto; 
}

.question-div, .explanation-div, .after-guess-message,
.game-over-div {
    width: fit-content; 
    margin: auto; 
    color:rgb(53, 90, 104); 
    background-color: white;
}

.number-correct-guess, .number-incorrect-guess{
    color:rgb(53, 90, 104); 
    background-color: rgb(111, 162, 181);
    width: 220px;
    text-align: center;
    border: 1px solid black;
    margin-top: 15px;
}

.image-div, .after-image{
    width: 550px;
}

img{
    max-width: 100%;
    max-height: 100%;
    border: 1px double black;
    width: fit-content; 
    margin: auto; 
}

.start-button, .replay-button{
    vertical-align: center;
    margin: auto;
}